

streamlit

# LangChain
langchain
langchain-core
langchain-community
langchain-text-splitters

# Vector DB
chromadb

# LLM integrations
langchain-openai
openai
langchain-anthropic
langchain-google-genai
google-generativeai

# HuggingFace
transformers
huggingface-hub
sentence-transformers

# Utils
python-dotenv
numpy
scikit-learn

# PDF
pypdf==3.17.4
