streamlit

# LangChain
langchain
langchain-community
langchain-text-splitters

# Vector DB
chromadb

# Google Gemini
langchain-google-genai
google-generativeai

# HuggingFace embeddings
sentence-transformers
transformers
huggingface-hub

# Utils
python-dotenv
numpy
scikit-learn

# PDF support
pypdf==3.17.4
